boto3==1.35.22
botocore==1.35.22
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
neo4j==5.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2023.3
s3transfer==0.10.2
six==1.16.0
urllib3==2.2.3
